<div class="i-building">

    <div class="i-building__header">
        <div class="container">
            <h1 class="i-building__header-text">
                <span class="i-building__logo-line">i</span>-Building Visualization
                <small>
                    Climate sensors
                </small>
            </h1>
        </div>
    </div>

    <div class="i-building__block">
        <div class="container">
            <h3>
                <span class="i-building__block-header-text">
                    List of nodes
                </span>
            </h3>

            <div class="i-building__block-text">
                <span class="placeholder"></span>
                <div id="graph-placeholder-temperature"></div>
                <div id="graph-placeholder-co2"></div>
                <div id="graph-placeholder-relative-humidity-percent"></div>
                <div id="graph-placeholder-voc-ch2o-equiv"></div>
            </div>
        </div>
    </div>

</div>